:root {
    /* Primary */

    --Tomato: hsl(4, 100%, 67%);

    /* Neutral */

    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}


/* Start global  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--Charcoal-Grey);
}

main {
    width: 800px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px;
    background-color: var(--White);
    overflow: hidden;
    border-radius: 1rem;
}

.image {
    max-height: 580px;
    overflow: hidden;
    border-radius: 1rem;
}

.image .mobile {
    display: none;
}

.content {
    padding-left: 20px;
}

h1 {
    font-size: 40px;
    color: var(--Dark-Slate-Grey);
    margin-bottom: 20px;
    margin-top: 50px;
}

article p {
    width: 360px;
    margin-bottom: 20px;
}

.mid {
    margin-bottom: 30px;
}

.mid div {
    display: flex;
    margin-bottom: 20px;
}

.mid div img {
    margin-right: 10px;
    margin-top: -2px;
}


.fill {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

input {
    border: 1px solid var(--Grey);
    border-radius: 0.5rem;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
    position: relative;
}

.normal {
    border: 1px solid var(--Grey);
    border-radius: 0.5rem;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
    position: relative;
}

input:hover {
    border-left: 2px solid var(--Dark-Slate-Grey);
    border-right: 2px solid var(--Dark-Slate-Grey);
}

button {
    border-radius: 0.5rem;
    height: 50px;
    border: none;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    outline: none;

}

button:hover {
    background-image: linear-gradient(to right, hsl(4, 100%, 67%), hsl(15, 100%, 65%));
}

input.error {
    border: 1px solid var(--Tomato);
    background-color: hsla(4, 100%, 67%, 0.1);
    border-left: 2px solid var(--Tomato);
    border-right: 2px solid var(--Tomato);
}

.error-p {
    color: red;
    position: absolute;
    font-weight: 700;
    font-size: 11px;
    top: 0.5%;
    right: 0;
    display: none;
}







.success {
    width: 400px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 1rem;
    display: none;
}

.success h1 {
    margin-top: 20px;

}

.success p {
    color: var(--Charcoal-Grey);
    margin-bottom: 20px;
}

.success span {
    font-weight: bold;
    color: var(--Charcoal-Grey);
}

.success button {
    width: 100%;
}

/* Start Media  */
@media (max-width: 800px) {
    body {
        margin: 0;
        height: 100vh;
    }

    main {
        width: 375px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        height: 100vh;
        border-radius: 0;
        gap: 0;
    }

    main .image .mobile {
        display: block;
    }

    main .image .desk {
        display: none;
    }

    main .image {
        order: -1;
        width: 375px;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        height: 284px;
    }

    main .image img {
        background-size: cover;
        position: absolute;
    }

    main .content {
        padding: 10px;
        height: 450px;
        width: 350px;
        margin: -20px auto 0;
    }

    main article {
        padding: 0;
    }

    main article h1 {
        margin-top: 20px;
    }

    main article p {
        width: 350px;
    }

    .success {
        width: 375px;
        border-radius: 0;
        height: 100vh;
        padding: 20px;
    }

    .success .container {
        margin: 170px auto 0;
    }

    .success .container p {
        margin-bottom: 224px;
    }

    footer {
        display: none;
    }
}